<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Captive Green 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20111225

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<%= render :partial => "/shared/head" %>
<body>
<div id="wrapper">
  
  <div id="login_admin_users" style="display:none">
    <div class="loginContent">
     <% form_tag (  :controller => :admin, :action => :login ) do %>  
      <label for="log"><b>Username: </b></label>
      
      <%= text_field_tag :email %>
      <label for="pwd"><b>Password:</b></label>
      <%= password_field_tag :email %>
      
      <%= submit_tag 'Submit' %>
    
    
       <div class="left">
        <label for="rememberme"> <%= radio_button_tag :tipo, 1 %> Administrador Gen</label>      
       </div>
       <div class="left">
        <label for="rememberme"> <%= radio_button_tag :tipo, 2 %> Administrador PV</label>      
       </div>
       <div class="left">
        <label for="rememberme"> <%= radio_button_tag :tipo, 3 %> Administrador BE</label>
       </div>
       <div class="left">
        <label for="rememberme"> <%= radio_button_tag :tipo, 4 %> Administrador BI</label>
       </div>     
    </div>
     <% end %>
    <div class="loginClose"><a href="#" id="closeLogin">Cerrar Panel</a></div>
  </div>
  
  <div id="wrapper2">    
    <div id="header" class="container">      
      <div id="logo">
        <h1><a href="#">Practicas <span> Valor</span></a></h1>
      </div>
      <div id="menu">
        <div id="admin_tab_login"><a href="#" onclick="show_login_admin_div();">admin | login</a></div>
        <ul>
          <li class="current_page_item"><a href="#">Homepage</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <div id="banner"></div>
    <!-- end #header -->
    <div id="page">
      <div id="content">
        <p class="notice"><%= notice %></p>
        <p class="flash"><%= flash %></p>
        <div class="post">
          <h2 class="title"><a href="#">Bienvenidos al Sistema De consultas De Practicas de Valor </a></h2>
          <p class="meta"><span class="date">December 26, 2011</span><span class="posted">Posted by <a href="#">Someone</a></span></p>
          <div style="clear: both;">&nbsp;</div>
          <div class="entry">
            <p>This is <strong>Captive Green </strong>, a free, fully standards-compliant CSS template designed by FreeCssTemplates<a href="http://www.nodethirtythree.com/"></a> for <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>. The photo used in this template is form <a href="http://pdphoto.org/">pdphoto.org</a>. This free template is released under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a> license, so you’re pretty much free to do whatever you want with it (even use it commercially) provided you keep the links in the footer intact. Aside from that, have fun with it :)</p>
            <p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum ipsum. Proin imperdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.</p>
            <p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p>
          </div>
        </div>
        <div class="post">
          <h2 class="title"><a href="#">Lorem ipsum sed aliquam</a></h2>
          <p class="meta"><span class="date">December 24, 2011</span><span class="posted">Posted by <a href="#">Someone</a></span></p>
          <div style="clear: both;">&nbsp;</div>
          <div class="entry">
            <p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem.  Mauris quam enim, molestie in, rhoncus.</p>
            <p class="links"><a href="#" class="more">Read More</a><a href="#" title="b0x" class="comments">Comments</a></p>
          </div>
        </div>
        <div style="clear: both;">&nbsp;</div>
      </div>
      <!-- end #content -->
      <div id="sidebar">
        <ul>
          <li>
            <div id="search" >
              <form method="get" action="#">
                <div>
                  <input type="text" name="s" id="search-text" value="" />
                  <input type="submit" id="search-submit" value="GO" />
                </div>
              </form>
            </div>
            <div style="clear: both;">&nbsp;</div>
          </li>
          <li>
            <h2>Aliquam tempus</h2>
            <p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper consectetuer hendrerit.</p>
          </li>
          <li>
            <h2>Categories</h2>
            <ul>
              <li><a href="#">Aliquam libero</a></li>
              <li><a href="#">Consectetuer adipiscing elit</a></li>
              <li><a href="#">Metus aliquam pellentesque</a></li>
              <li><a href="#">Suspendisse iaculis mauris</a></li>
              <li><a href="#">Metus aliquam pellentesque</a></li>
              <li><a href="#">Suspendisse iaculis mauris</a></li>
              <li><a href="#">Urnanet non molestie semper</a></li>
              <li><a href="#">Proin gravida orci porttitor</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- end #sidebar -->
      <div style="clear: both;">&nbsp;</div>
    </div>
    <!-- end #page -->
    <div id="footer">
      <p>Copyright (c) 2011 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
    </div>
  </div>
</div>
<!-- end #footer -->
</body>
</html>
