+<div id="wrapper">
  
  <div id="login_admin_users" style="display:none">
    <div class="loginContent">        
              

    
	<% if user_signed_in? %>
	<div class="userOptions">
		<span class="karlaBld16pt434343 verticalAlignTop">Hello, <%=current_user.first_name%></span>
		<span class="space10px"></span>
		<%= link_to("Sign out", destroy_user_session_path,:method => :delete, :id=> "signOutBtn") %>
	</div>
	<% else %>
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <div><%= f.label :email %><br />
		  <%= f.email_field :email %></div>
		
		  <div><%= f.label :password %><br />
		  <%= f.password_field :password %></div>
		
		  <% if devise_mapping.rememberable? -%>
		    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
		  <% end -%>
		
		  <div><%= f.submit "Sign in" %></div>


	       <div class="left">
	        <label for="rememberme"> <%= radio_button_tag :tipo, 1 %> Administrador Gen</label>      
	       </div>
	       <div class="left">
	        <label for="rememberme"> <%= radio_button_tag :tipo, 2 %> Administrador PV</label>      
	       </div>
	       <div class="left">
	        <label for="rememberme"> <%= radio_button_tag :tipo, 3 %> Administrador BE</label>
	       </div>
	       <div class="left">
	        <label for="rememberme"> <%= radio_button_tag :tipo, 4 %> Administrador BI</label>
	       </div> 			
			<br />
			<div class="errorDiv">
			<% flash.each do |name, msg| %>
				<span class="karlaBld13ptEC4E1B"><%= msg%></span>
			<% end %>
			</div>
		<% end %>
	<% end %>    
 
    
	</div>
  </div>
  
  <div id="wrapper2">    
    <div id="header" class="container">      
      <div id="logo">
        <h1><a href="#">Practicas <span> Valor</span></a></h1>
      </div>
      <div id="menu">
        <div id="admin_tab_login"><a href="#" onclick="show_login_admin_div();">admin | login</a></div>
        <ul>
          <li class="current_page_item"><a href="#">Homepage</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <div id="banner"></div>